<Blazorise.ThemeProvider Theme="@XpTheme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h1>404 Error</h1>
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code{
    private Theme XpTheme = new Theme
    {
        //ButtonOptions = new ThemeButtonOptions { },
        //DropdownOptions = new ThemeDropdownOptions { },
        InputOptions = new ThemeInputOptions
        {
            CheckColor = "#0288D1",
        },
        BarOptions = new ThemeBarOptions
        {
            VerticalWidth = "245px"
        }
        //CardOptions = new ThemeCardOptions { },
        //ModalOptions = new ThemeModalOptions { },
        //TabsOptions = new ThemeTabsOptions { },
        //ProgressOptions = new ThemeProgressOptions { },
        //AlertOptions = new ThemeAlertOptions { },
        //BreadcrumbOptions = new ThemeBreadcrumbOptions { },
        //BadgeOptions = new ThemeBadgeOptions { },
        //PaginationOptions = new ThemePaginationOptions { },
        //TooltipOptions = new ThemeTooltipOptions
        //{
        //    BackgroundColor = "#22c8ce",
        //    BackgroundOpacity = .7f,
        //    Color = "#ff0000",
        //},
    };
}