@page "/TargetList"
<ConentPanel PanelTitle="Target List">
    <RightSesction>
        <NavLink class="btn btn-primary" href="ManageTarget">
            <span class="oi oi-plus" aria-hidden="true"></span>
            Add New
        </NavLink>
    </RightSesction>
    <PanelContent>
        @if (ObjectList == null)
        {
            <p><em>No target found!</em></p>
        }
        else
        {
            <DataGrid TItem="Target" Data="@ObjectList" Editable="false" Sortable="true" Filterable="false"
                      ShowPager="true" UseInternalEditing="false" @bind-SelectedRow="@SelObject"
                      Striped="false" Bordered="false" Hoverable="true" Responsive="true" PageSize="15">
                <DataGridColumns>
                    <DataGridColumn TItem="Target" Field="@nameof(Target.TargetTitle)" Caption="Title" />
                    <DataGridColumn TItem="Target" Field="@nameof(Target.TargetDescription)" Caption="Description" />
                    <DataGridColumn TItem="Target" Field="@nameof(Target.EntryDate)" Caption="Entry Date" />
                    <DataGridColumn TItem="Target" Field="@nameof(Target.TargetDate)" Caption="Target Date" />
                    <DataGridColumn TItem="Target" Field="@nameof(Target.Amount)" Caption="Amount" />
                    <DisplayTemplate>
                        <a class="btn btn-secondary table-btn"
                           href="/ManageTarget/@context.TargetId">
                            <i class="material-icons">Edit</i>
                        </a>
                    </DisplayTemplate>
                    </DataGridColumn>
                </DataGridColumns>
            </DataGrid>
        }
    </PanelContent>
</ConentPanel>
